<tr>
<td class="col-quantity"><%= line_item.quantity %></td>
<td class="col-event"><%= image_tag line_item.event.event_image, class: "featured__image" %></td>
<td class="col-event"><%= line_item.event.title %></td>
<td class="col-price"><%= number_to_indian_currancy(line_item.event.price) %></td>
<td class="col-total"><%= number_to_indian_currancy(line_item.total_price) %></td>
</tr>

